<div style="width:35vw ;" >
    <p style="text-align:left;font-family: 'Oleo Script Swash Caps';font-size: 30px">ADD Employee</p>
    <mat-divider></mat-divider>
    <br>
    <form (ngSubmit)="insertProduit()" [formGroup]="form">
    <mat-form-field style="width:16.5vw ;margin-right: 2vw;"  appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput name="FirstName" formControlName="FirstName" >
    </mat-form-field>
    <mat-form-field style="width:16.5vw ;" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput name="LastName" formControlName="LastName" type="string">
    </mat-form-field>
    <br>
    

    <!-- <mat-label>Image 1</mat-label>
    <input type="file" name="img1">
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
    <!-- <input type="file" formControlName="image1" name="image1" (change)="uploadimg1($event)">
    <input type="file" formControlName="image2" name="image2" (change)="uploadimg2($event)">
    <input type="file" formControlName="image3" name="image3" (change)="uploadimg3($event)"> -->
    <mat-form-field class="x">
      <div>
        <mat-toolbar>
          <input matInput  [(ngModel)]="fileAttr1" readonly name="name1" formControlName="image1"/>
          <button mat-flat-button color="primary">Import Image</button>
        </mat-toolbar>
        <input
          type="file" #fileInput1 id="uploadFile" (change)="uploadFileEvt1($event)" name="img1" multiple="multiple" accept="image/*" 
           />
      </div>
    </mat-form-field>
    <br>
    <br>
    <div style="width: 35vw;text-align: right;">
    <button mat-raised-button mat-dialog-close  style="font-weight: bold;font-size: 20px;" type="submit">ADD</button>
    </div>
    </form>
    </div>
    
